h1 {
    text-align: center;
}
  
.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}
  
.red {
    background-color: red;

    /*How to use a color transition, or gradient (color transitions into another), on an element:
    The CSS linear-gradient function lets you control the direction of the transition along a line, and which colors are used.
    To remember: the linear-gradient function creates an image element, and is usually paired with the background property which can accept an image as a value.
    Transition red to yellow: 
    .red {
    background: rgb(255, 0, 0);
    background: linear-gradient(to right, red, yellow);
    }
    */

    /*More about the linear-gradient function: 
    It is very flexible; basic syntax: linear-gradient(gradientDirection, color1, color2, ...);
    gradientDirection: direction of the line used for the transition. 
    color1 and color2 are color arguments, which are the colors that will be used in the transition itself (these can be any type of color, including color keywords, hex, rgb, or hsl)
    Apply a red-to-green gradient along a 90 degree line to the first marker:
    .red {background: linear-gradient(90deg, red, green);}
    From red-to-green-to-blue:
    .red {background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));}
    With gradient 180deg and % to stop the color:
    .red {background: linear-gradient(180deg, rgb(255, 0, 0) 0%, rgb(0, 255, 0) 50%, rgb(0, 0, 255) 100%);}
    */

}
  
.green {
    background-color: green;  

    /*color #00FF00 means:  0% red, 100% green, and 0% blue and is the same as rgb(0, 255, 0)
    This is according to the hexadecimal values 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F
    Here, the hex color 00 is 0% of that color, and FF is 100%.*/
}
  
.blue {
    background-color: blue;

    /*The HSL color model, or hue, saturation, and lightness, is another way to represent colors.
    HSL function accepts 3 values: a number from 0-360 for hue, a percentage from 0-100 for saturation, and a percentage from 0-100 for lightness.
    If you imagine a color wheel, the hue red is at 0 degrees, green is at 120 degrees, and blue is at 240 degrees.
    Saturation is the intensity of a color from 0%, or gray, to 100% for pure color. You must add the percent sign % to the saturation and lightness values.
    Lightness is how bright a color appears, from 0%, or complete black, to 100%, complete white, with 50% being neutral.
    For pure blure: 
    .blue {background-color: hsl(240, 100%, 50%); */
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: white;
    opacity: 0.5;

    /*Other way to include opcaxity:   background-color:rgba(255, 255, 255, 0.5);*/
  }


  